/* 将网页各外边距、内边距、边框设置为0 */
* {
    padding: 0px;
    margin: 0px;
    border: 0px none;
}

/* table1样式 */
.t1 {
    padding-top: 10px;
    width: 100%;
    border-spacing: 15px;
    /* 边框间距 */
}

/* 单元格大小 */
.t1 td {
    height: 50%;
    width: 50%;
    display: table-cell;
    text-align: center;
}

/* 嵌套表格大小占据整个大表格的单元格 */
.apart {
    width: 100%;
    height: 100%;
}

/* 留言区样式 */
.comment {
    height: 200px;
    width: 100%;
    background-color: #4f675a;
    text-align: center;
    margin-top: 50px;
}

/* 提示性文字样式 */
.comment h1 {
    color: #eee;
    font-family: 'Calibri';
    padding-top: 30px;
}

/* 文本输入框样式 */
.comment input {
    outline-style: none ;
    border: 1px solid #ccc;
    padding: 10px 10px;
    font-size: 16px;
    width: 250px;
    margin-top: 30px;
    color: #555;
}

/* 按钮样式 */
.comment button {
    height: 41px;
    width: 150px;
    border: 1px solid #ccc;
    background-color: #fff;
    font-size: 20px;
    color:#333;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

/* 电影推荐区 */
.movie {
    width: 100%;
    height: 575px;
    margin-top: 90px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    border-top: 1px solid #4f675a;
    /* 顶部边框 */
    background: url(../images/moviebc.jpg) no-repeat 0 0;
    /* 背景图片 不重复 */
}

/* 电影名 */
.movie h3{
    margin-bottom: 30px;
    color: #3a554f;
}

/* 电影介绍文字 */
.movie p {
    line-height: 1.5em;
    color: #000;
}

/* 左侧图片区大小、位置 */
.left {
    width: 40%;
    height: auto;
    float: left;
    /* 浮动左侧 */
    margin-top: 50px;
}

/* 右侧文字区大小、位置 */
.right {
    width: 54%;
    height: 500px;
    position: relative;
    margin-left: auto;
    margin-right: 0;
    margin-top: 50px;
    padding-top: 10px;
    text-align: left;
} 

/* table2样式 */
.t2 {
    margin-top: 120px;
    width: 100%;
    border-spacing: 10px;
    /* 边框间距 */
}

/* 单元格大小、宽度 */
.t2 td {
    width: 33%;
    display: table-cell;
    text-align: left;
    height: 200px;
}

/* 使第一行的高度自动适应图片的高度 */
.t2 tr:first-child {
    height: auto;
}

/* 表格2文字样式 位于单元格中间部分 */
.t2 p {
    height: 80%;
    width: 95%;
    margin: auto;
    text-align: left;
    line-height: 1.5em;
    border-top: 1px dotted #4f675a;
    padding-top: 10px;
    color: #3e5550;
}

/* table3 */
.t3 {
    margin-top: 40px;
    width: 100%;
    height: 600px;
    border-spacing: 5px;
    /* 边框间距 */
}

/* 单元格大小 文字左对齐 */
.t3 td {
    width: 25%;
    display: table-cell;
    text-align: left;
}

/* 第一行高度 */
.t3 tr:first-child {
    height: 60%;
}

/* 第一行图片居中 */
.t3 tr:first-child td {
    text-align: center;
}